<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To_Do_List_A00218328</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<script src="~/sw.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">To_Do_List_A00218328</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            @*<a class="nav-link text-dark" asp-area="" asp-controller="Todo" asp-action="Index">Todo </a>*@
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            <div id="show-message" style="width:80px;height:80px;display:none;background-color:green;"></div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - To_Do_List_A00218328 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script>
        function CopyTextToClipBoard(text) {
            var copyText = document.createElement("input");
            document.body.appendChild(copyText);
            copyText.setAttribute("id", "copy_Text");
            document.getElementById("copy_Text").value = text;
            if (text.trim() == "") {
                //showToaster({ msg: "Link can't be empty", priority: "error" });
                ShowMessage('Link cannot be empty');
            }
            else {
                copyText.select();
                document.execCommand("copy");
                ShowMessage('Link copied to the clipboard');
                //showToaster({ msg: "Link copied to the clipboard", priority: "success" });
            }
            document.body.removeChild(copyText);
        }
        function ShowMessage(message) {
            $('#show-message').text(message)
            $('#show-message').fadeIn(3000);
         
            setTimeout(function () {
                $('#show-message').fadeOut(3000);
            }, 3000);
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
